.body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

header {
  flex: 0 80px;
}

header .content-header {
  text-align: center;
  background-color: #ffffff;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 0.5em;
}

nav.navbar {
  border-radius: 0.5em;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #f5afa3;
}

main .outer-feed {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

main .inner-feed {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5em;
  justify-content: space-around;
  background-color: #ffffff;
  width: 100%;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

main .post {
  align-items: center;
  border: solid #000000 thin;
  border-radius: 0.5em;
  padding: 1em;
  margin: 1em;
  width: 90%;
}

main .post p {
  margin-top: .05em;
  margin-bottom: .05em;
  font-family: Quicksand, sans-serif;
}

main .post-info {
  text-align: left;
}

footer {
  flex: 0 30px;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid #000000 thin;
}

#login-logout-button {
  border-radius: 0.25em;
}

footer a {
  float: right;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}
